
h1{
    
    font-family: 'Segoe UI';
    font-size: 70px;
    text-shadow: 3px 4px 0 rgb(255, 255, 255);
    
}

h2{
    font-size: 30px;
   text-shadow: 1px 2px 0 white;
    margin-top: -50px;
    font-family: monospace;
    font-style:normal;
}

.patata{
     background-color: rgb(6, 5, 5);
     color:white;
     font-size: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    display:inline-block;
   
}

.hey{
     font-size: 20px;
}

body{
    text-align: center;
}


.option{
    display: inline-block;
    text-align: center;
    margin: 10px;
   
}

.option img{
    display: block;
    width: 450px;
    height: 450px;
     margin-top: 70px;
    margin: 20px;
    object-fit: cover;
    border-radius: 150px;
   border:solid 5px black;
   margin-bottom: 200px;
   
   
}

.option button{
    margin-bottom: 5px;
    width: 170px;
    font-size: 28px;
    background-color: black;
    color: azure;
    border-radius: 7px;
}

p{
    font-size: 40px;
    
}

button{
     margin-bottom: 20px;
    width: 170px;
    font-size: 28px;
    margin-top: -200px;
    margin-bottom: 100px;
    background-color:darkslategray;
    color: aliceblue;
    
}

body{
    background-image: url('./Assets/giphy.gif');
    background-size: 1000px;
    
   
}

#result{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result2{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result3{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result4{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result5{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result6{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result7{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}

#result8{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}


#result9{
    display: inline-block;
    padding: 5px;
    background-color: black;
    text-align: center;
}


@media (max-width:700px) {
     .option img{
        width:200px ;
        height: 200px ;
        max-width: -10px;
     }

     .option button{
        width: 150px ;
        font-size: 14px ;
        width: 20px;
     }
    h1{
        font-size: 30px;
    }

     .patata{
        font-size: 18px ;
     }
     }
    